.container {
  min-height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  border: 2px solid #3b82f6;
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
  color: #000;
  background: white;
}

.input:focus {
  outline: none;
  border-color: #1d4ed8;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.buttonPrimary {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.buttonPrimary:hover {
  opacity: 0.9;
}

.message {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: red;
}


.buttonPrimary:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Spinner */
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
